.main-page {
    position: relative;
}

#btn-absolute {
    position: absolute;
    right: 0;
    top: 0.4rem;
    border-radius: 1.1rem;
}

.main-page a {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    border-radius: 0.2rem;
}

.main-page a {
    opacity: 0.8;
}

.posts-page a {
    position: absolute;
    background-color: dimgray;
    color: white;
    padding: 0.5rem;
    border-radius: 0.2rem;
    top: 5px;
    left: 5px;
}

.posts-page a:hover {
    opacity: 0.8;
}

.btn.btn-success {
    margin: 0.4rem;
    border-radius: 0.2rem;
}

.login-container label{
    font-weight: bold;
}

.stripe {
    background-color: dimgray;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.btn.btn-light {
    border-radius: 0.2rem;
}